.input-helper {
	display: flex;
	justify-content: flex-end;
	padding: .4rem 1.4rem 0;
	font-size: 1.3rem;
	line-height: 1.3;
	color: var(--c-text);

	&__text {
		padding-right: 1rem;
		flex: 1;
	}

	&__counter {
		white-space: nowrap;
		text-align: right;
	}
}


